<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
				<div class="well logo">
					<%= link_to store_path do %>
						Guitar <span>Shop</span>
					<% end %>
					<div><%= @page_title || "Rock everywhere" %></div>
				</div>
			</div>

			<div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
				<div class="well">
					<form action="" class="form-inline" role="form">
						<div class="input-group">
							<input type="text" class="form-control input-search" placeholder="Enter something to search">
							<span class="input-group-btn">
								<button class="btn btn-default no-border-left" type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</form>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-5">
				<div class="well">
					<div class="btn-group btn-group-cart">
						<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="pull-left">
								<span class="glyphicon glyphicon-shopping-cart"></span>
							</span>
							<span class="pull-left cart-name" id="cart-name">
									Cart: <%= pluralize(@cart.line_items.count, 'item') %> 
							</span>
							<span class="pull-right">
								<b class="caret"></b>
							</span>
						</button>
						<ul class="dropdown-menu cart-content" id="cart-content" role="menu">
							<%= render partial: "carts/cart", object: @cart %>
						</ul>
					</div>
				</div>
				<div class="pull-right">
					<% if user_signed_in? %>
						<span>Hello, <%= current_user.email %></span> <br>
						<span><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></span>
					<% else %>
						<span><%= link_to 'Sign in', new_user_session_path %></span>
			    		or
			    	<span><%= link_to 'Sign up', new_user_registration_path %></span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</header>