<!DOCTYPE html>
<html>
<head>
  <title> <%= set_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/navigation' %>

	<div class="container main-container">
				    
	    <%= yield(:carousel) %>
			
			<% flash.each do |key, value| %>
	   		<%= content_tag(:div, value, class: "alert alert-#{key}") %>
	    <% end %>
	    
	    <% if notice %>
	    	<div class="alert alert-info"><%= notice %></div>
			<% end %>
			
			<% if alert %>
				<div class="alert alert-info"><%= alert %></div>		
			<% end %>
	    
	    <div class="main-container">
				<div class="row">

					<%= render 'store/left_aside' %>
					
					<div class="col-lg-9 col-md-9 col-sm-12">
						<%= yield %>
					</div>
				</div>
			</div>
			
	</div>
	<%= render 'layouts/footer' %>
	<div><%= debug(params)if Rails.env.development? %></div>
</body>
</html>
